# App dependencies
fastapi
uvicorn

# LLM Dependencies
transformers
# torch is intentionally omitted for Docker GPU builds

# Translation
sentencepiece
sacremoses # IDK what this does actually but it fixes a warning
