# App dependencies
fastapi
uvicorn

# LLM Dependencies
transformers
torch

# Translation
sentencepiece
sacremoses # IDK what this does actually but it fixes a warning

# Database
SQLAlchemy
alembic
pymysql
python-dotenv

# Background Task Processing
celery
redis