# App dependencies
fastapi
uvicorn

# LLM Dependencies
transformers
# Dockercompose will handle torch manually, otherwise it can't detect GPU

# Translation
sentencepiece
sacremoses # IDK what this does actually but it fixes a warning

# Database
SQLAlchemy
alembic
pymysql
python-dotenv

# Background Task Processing
celery
redis

# Dev (Intentionally omitted on requirements.txt. In intend this to be a dev only thing)
watchdog