# App dependencies
fastapi
uvicorn

# LLM Dependencies
transformers
# Dockercompose will handle torch manually, otherwise it can't detect GPU

# Translation
sentencepiece
sacremoses # IDK what this does actually but it fixes a warning
